In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-09-30 05:01:57,-23.1203,-134.9692,73.24,74,100,17.74
1,1,Oshikango,NaN,2021-09-30 05:01:58,-17.4000,15.8833,62.55,26,0,7.31
2,2,Butaritari,KI,2021-09-30 05:01:59,3.0707,172.7902,82.87,73,66,15.12
3,3,Lieksa,FI,2021-09-30 05:02:00,63.3167,30.0167,47.61,67,100,5.77
4,4,Kodiak,US,2021-09-30 05:02:01,57.7900,-152.4072,41.67,69,5,3.83

In [3]:
#Get the data types. 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum tempereature. 
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Butaritari,KI,2021-09-30 05:01:59,3.0707,172.7902,82.87,73,66,15.12
5,5,Korla,CN,2021-09-30 05:02:02,41.7597,86.1469,76.57,14,3,6.80
7,7,Say,NE,2021-09-30 05:02:05,13.1007,2.3689,78.24,77,90,4.85
9,9,San Andres,CO,2021-09-30 05:00:16,12.5847,-81.7006,82.56,78,100,10.31
16,16,Parlakimidi,IN,2021-09-30 05:02:15,18.7667,84.0833,86.58,71,94,4.38
17,17,Atuona,PF,2021-09-30 05:02:16,-9.8000,-139.0333,77.97,76,18,19.80
18,18,The Valley,AI,2021-09-30 05:02:17,18.2170,-63.0578,83.82,71,4,7.70
21,21,Kapaa,US,2021-09-30 04:59:05,22.0752,-159.3190,76.12,74,26,10.96
26,26,Rumonge,BI,2021-09-30 05:02:26,-3.9736,29.4386,78.24,58,100,1.39
37,37,Meulaboh,ID,2021-09-30 05:02:37,4.1363,96.1285,75.51,95,100,4.56

In [20]:
preferred_cities_df.count()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2    Butaritari      KI     82.87   3.0707  172.7902
5         Korla      CN     76.57  41.7597   86.1469
7           Say      NE     78.24  13.1007    2.3689
9    San Andres      CO     82.56  12.5847  -81.7006
16  Parlakimidi      IN     86.58  18.7667   84.0833
17       Atuona      PF     77.97  -9.8000 -139.0333
18   The Valley      AI     83.82  18.2170  -63.0578
21        Kapaa      US     76.12  22.0752 -159.3190
26      Rumonge      BI     78.24  -3.9736   29.4386
37     Meulaboh      ID     75.51   4.1363   96.1285

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Butaritari,KI,82.87,3.0707,172.7902,Isles Sunset Lodge
5,Korla,CN,76.57,41.7597,86.1469,Gulisitan Hotel
7,Say,NE,78.24,13.1007,2.3689,
9,San Andres,CO,82.56,12.5847,-81.7006,Hotel Arena Blanca
16,Parlakimidi,IN,86.58,18.7667,84.0833,APEPDCL
...,...,...,...,...,...,...
548,Phan Thiet,VN,85.73,10.9333,108.1000,Hotel Saigon-PT
552,Bengbu,CN,82.60,32.9408,117.3608,Howard Johnson Nanshan Plaza
557,Auki,SB,84.78,-8.7676,160.7034,Auki Motel
559,Hobyo,SO,81.63,5.3505,48.5268,Halane Hotel and Restaurent
563,Lumphat,KH,88.41,13.4878,106.9816,Lumphat Homestay

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))